<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      This is a test mail sent using smtp from Michael's aumated mailer application built with Rails.

      Please reply anything to appointment.mailer@gmail.com to confirm that you have successfully received this email.
    </p>
  </body>
</html>
