<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @patient.first_name %></h1>
    <p>
      This is a test mail sent using smtp from Michael's automated mailer application built with Rails.

      Please reply anything to appointment.mailer@gmail.com to confirm that you have successfully received this email.
    </p>

    <h3>Your appointments:</h3>
    <% @appointments.each do |apt| %>
      <p>
        <strong>Date:</strong>
        <%= apt.date.strftime("%b %d, %Y - %A") %>
      </p>
      <p>
        <strong>Time:</strong>
        <%= apt.time.strftime("%I:%M%p") %>
      </p>
      <p>
        <strong>location: </strong>
        <% address = '20445 Pacifica Dr #C, Cupertino, CA 95014' if  apt.location == "cupertino" %>
        <% address = '991 Montague Expy #110, Milpitas, CA 95035' if  apt.location == "milpitas" %>
        <%= address %>
      </p>
      <br>
    <% end %>


  </body>
</html>
